pandas
ipykernel
langchain_community
streamlit
langchain
pypdf
python-dotenv
langchain-openai
openai
langchain-text-splitters
transformers
sentence_transformers
pinecone-client
langchain-pinecone
langchain-groq
langchain_chroma
langchain_ollama
beautifulsoup4